* {
    box-sizing: border-box;
}

.conteneur {
   margin: 0;
   padding: 0;
    max-width: 960px;
   
}

header{
    display: flex;

}
.foot {

    background: #45505E;
    color: #FAF7F5;
}

body {
    margin: 0;
    font-family: Verdana, Tahoma, sans-serif;
}

.devis {
    background: #38DD09;
    color: #FAF7F5;
}

.gestion {
    text-align: center;
}

.ajout {
    background: #FAF7F5;
    color: #111;
}

img {
    margin-top: 10px;
    margin-left: 10px;
    max-width: 120px;
}

.tab {
    color: #FAF7F5;
    text-align: center;
}

#one {
    background: black;
}

nav{

    float: right;
}


 
  

